langchain
langchain_groq
langchain_openai
langchain_chroma
langchain_community
langchain_core
chromadb
sentence-transformers
langchain_huggingface
duckduckgo-search
duckdb 
pandas
faiss-cpu
pymupdf
arxiv
wikipedia
python-dotenv
streamlit
ddgs